# this file is an example of the .env file
# please write the following variables to the .env file, replacing the values with your own

DB_USER_NAME="mysql"
DB_USER_PASSWORD="" # leave it empty ("") if the DB does not have a password
DB_NAME="todos"
DB_ADDRESS="localhost:3306"

SERVER_ADDRESS="localhost:8080"

JWT_SECRET="YOUR_SECRET" # your secret string for signing JWTs
